.login-signup-container {
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.login-signup-form {
    padding-left: 35%;
    padding-right: 35%;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 0%;
}

.nav-bar-style {
    background-color: #198754;
    height: 75px;
}